<h1>Login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="enter user name">
    <input type="password" name="password" placeholder="enter password">
    <button>Login</button>
</form>

<ul><a href="/register">Sign Up!</a></ul>
<ul><a href="/login">Login!</a></ul>
<ul><a href="/logout">Logout!</a></ul>