<h1>Sign Up Form</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="user name">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<ul><a href="/register">Sign Up!</a></ul>
<ul><a href="/login">Login!</a></ul>
<ul><a href="/logout">Logout!</a></ul>